Linux/changelog.txt
Linux/FNA.dll
Linux/FNA.dll.config
Linux/Mono.Posix.dll
Linux/Mono.Security.dll
Linux/monoconfig
Linux/monomachineconfig
Linux/mscorlib.dll
Linux/open-folder
Linux/System.Configuration.dll
Linux/System.Core.dll
Linux/System.Data.dll
Linux/System.dll
Linux/System.Drawing.dll
Linux/System.Numerics.dll
Linux/System.Runtime.Serialization.dll
Linux/System.Security.dll
Linux/System.Windows.Forms.dll
Linux/System.Windows.Forms.dll.config
Linux/System.Xml.dll
Linux/System.Xml.Linq.dll
Linux/Terraria.png
Linux/TerrariaServer
Linux/TerrariaServer.bin.x86
Linux/TerrariaServer.bin.x86_64
Linux/TerrariaServer.exe
Linux/WindowsBase.dll
Linux/lib/libjpeg.so.62
Linux/lib/libmojoshader.so
Linux/lib/libogg.so.0
Linux/lib/libopenal.so.1
Linux/lib/libpng15.so.15
Linux/lib/libSDL2_image-2.0.so.0
Linux/lib/libSDL2-2.0.so.0
Linux/lib/libtheoradec.so.1
Linux/lib/libtheorafile.so
Linux/lib/libvorbis.so.0
Linux/lib/libvorbisfile.so.3
Linux/lib64/libjpeg.so.62
Linux/lib64/libmojoshader.so
Linux/lib64/libogg.so.0
Linux/lib64/libopenal.so.1
Linux/lib64/libpng15.so.15
Linux/lib64/libSDL2_image-2.0.so.0
Linux/lib64/libSDL2-2.0.so.0
Linux/lib64/libtheoradec.so.1
Linux/lib64/libtheorafile.so
Linux/lib64/libvorbis.so.0
Linux/lib64/libvorbisfile.so.3
terraria-files/worlds/
